<form [formGroup]="formChangePassword" class="form-global-template" (ngSubmit)="submitForm()">
  <div class="header-complement p-lr-global padding-b-16">
    <div class="white-container">
      <velocity-image-title
        [img]="'/password.png' | imageCdn"
      ></velocity-image-title>

      <label class="text-body-3">{{'CHANGE_PASSWORD.CURRENT_PASSWORD' | translate}}</label>
      <div class="vel-otp-input-cont">
        <app-cont-error [control]="currentPassword">
          <ng-otp-input
            [config]="configOtpInput"
            [typeInput]="showPass ? 'tel' : 'password'"
            [icon]="showPass ? 'icon-vel-eye-off' : 'icon-vel-eye'"
            (clickIcon)="toggleType()"
            [customControl]="currentPassword"
            [id]="'currentPassword'">
          </ng-otp-input>
        </app-cont-error>
      </div>

      <div class="separator-line"></div>

      <p class="text-gray margin-b-20 text-caption text-center" [innerHTML]="'CHANGE_PASSWORD.DESCRIPTION' | translate"></p>

      <label class="text-body-3">{{'CHANGE_PASSWORD.NEW_PASSWORD' | translate}}</label>
      <div class="vel-otp-input-cont margin-b-12">
        <ng-otp-input
          [config]="configOtpInput"
          [typeInput]="showPassNew ? 'tel' : 'password'"
          [icon]="showPassNew ? 'icon-vel-eye-off' : 'icon-vel-eye'"
          (clickIcon)="toggleTypeNew()"
          [customControl]="newPassword"
        ></ng-otp-input>
      </div>

      <div class="form-group padding-bottom text-center">
        <app-velocity-custom-validator-message
          [control]="newPassword"
          [validatorName]="'numeric'"
        ></app-velocity-custom-validator-message>
        <app-velocity-custom-validator-message
          [control]="newPassword"
          [validatorName]="'repeatedNumbers'"
        ></app-velocity-custom-validator-message>
        <app-velocity-custom-validator-message
          [control]="newPassword"
          [validatorName]="'sequenceNumbers'"
        ></app-velocity-custom-validator-message>
      </div>

      <div class="template-submit-btn">
        <velocity-button [text]="'CHANGE_PASSWORD.BUTTON' | translate" class="btn-primary" type="submit"
                         [disabled]="formChangePassword.invalid || (changePassword$ | async)?.loading"
                         [isLoading]="(changePassword$ | async)?.loading"
                         [id]="'change-password-btn'">
        </velocity-button>
      </div>
    </div>
  </div>
</form>
