<form class="header-complement complement-size-md p-lr-global padding-b-16" [formGroup]="formChannelPass"
      (ngSubmit)="submitEnrollment(formChannelPass)">
  <div class="animated fade-in-up white-container">
    <div class="margin-b-32 padding-lr-24">
      <velocity-image-title
          [img]="'/password.png' | imageCdn"
          [title]="'AUTH.CHANNEL_PASSWORD.TITLE' | translate"
          [description]="'AUTH.CHANNEL_PASSWORD.DESCRIPTION' | translate"
      ></velocity-image-title>
    </div>
    <div class="form-group">
      <ion-label class="text-body-2 universal-forgot">{{'AUTH.CHANNEL_PASSWORD.PASSWORD' | translate}}
        <span>{{'AUTH.CHANNEL_PASSWORD.FORGOT' | translate}}</span>
      </ion-label>
      <div class="cont-input">
        <ion-input
            [type]="isPassword ? 'password' : 'text'"
            formControlName="currentPassword"
            id="channel-password"
            clearOnEdit="true"
            minlength="8"
            maxlength="32"
            autofocus="true"
            inputmode="text"
        ></ion-input>
        <i class="{{isPassword ? 'icon-vel-eye' : 'icon-vel-eye-off'}}" (click)="changeTypeInput()"
           id="show-password"></i>
      </div>
    </div>
      <velocity-button
        [text]="'AUTH.BUTTON' | translate"
        class="btn-primary margin-t-36"
        type="submit"
        [isLoading]="isLoading$ | async"
        [disabled]="formChannelPass.invalid || (isLoading$ | async)"
        id="channel-password-submit"></velocity-button>
  </div>
</form>

