<div class="header-complement complement-size-l p-lr-global padding-b-16">
  <div class="white-container">
    <velocity-image-title
      [img]="'/icon-intentos-excedidos.png' | imageCdn"
      [title]="'AUTH.LIMIT_EXCEED.TITLE' | translate"
      [description]="'AUTH.LIMIT_EXCEED.DESCRIPTION' | translate"
    ></velocity-image-title>
    <velocity-button
      [text]="'AUTH.LIMIT_EXCEED.BUTTON' | translate"
      class="btn-primary margin-t-36"
      routerLink="/iniciar-sesion"
    ></velocity-button>
  </div>
</div>

