<div class="header-complement complement-size-l p-lr-global padding-b-16">
  <div class="white-container">
    <velocity-image-title
      [img]="'/falla-tecnica.png' | imageCdn"
      [title]="'AUTH.SERVICE_ERROR.TITLE' | translate"
      [description]="'AUTH.SERVICE_ERROR.DESCRIPTION' | translate"
    ></velocity-image-title>
    <velocity-button
      [text]="'AUTH.SERVICE_ERROR.BUTTON' | translate"
      class="btn-primary margin-t-36"
      routerLink="/iniciar-sesion"
    ></velocity-button>
  </div>
</div>

