<form class="header-complement complement-size-md p-lr-global padding-b-16" [formGroup]="formNewPassword"
      (ngSubmit)="submitEnrollmentData()">
  <div class="animated fade-in-up white-container">
    <div class="margin-b-32 padding-lr-24">
      <velocity-image-title
        [img]="'/password.png' | imageCdn"
        [title]="'AUTH.NEW_UNIVERSAL_PASSWORD.TITLE' | translate"
      ></velocity-image-title>
    </div>
    <div class="form-group padding-bottom">
      <div class="vel-otp-input-cont">
        <ng-otp-input
          [config]="configOtpInput"
          [typeInput]="otpInputType"
          [icon]="otpInputIcon"
          (clickIcon)="toggleType()"
          [customControl]="universalPassword"
        ></ng-otp-input>
      </div>
    </div>
    <div class="form-group padding-bottom text-center">
      <app-velocity-custom-validator-message
        [control]="universalPassword"
        [validatorName]="'numeric'"
        class="margin-b-4"
      ></app-velocity-custom-validator-message>
      <app-velocity-custom-validator-message
        [control]="universalPassword"
        [validatorName]="'repeatedNumbers'"
        class="margin-b-4"
      ></app-velocity-custom-validator-message>
      <app-velocity-custom-validator-message
        [control]="universalPassword"
        [validatorName]="'sequenceNumbers'"
        class="margin-b-4"
      ></app-velocity-custom-validator-message>
    </div>
    <velocity-button
      [text]="'AUTH.NEW_UNIVERSAL_PASSWORD.BUTTON' | translate"
      class="btn-primary  margin-t-36"
      type="submit"
      [isLoading]="isLoading$ | async"
      [disabled]="formNewPassword.invalid || (isLoading$ | async)"
      id="new-universal-password-submit"
    ></velocity-button>
  </div>

</form>

