<form class="header-complement complement-size-l p-lr-global padding-b-16" [formGroup]="formEnrollment"
      (ngSubmit)="submitEnrollment(formEnrollment)">
  <div class="white-container">
    <div class="margin-b-32 padding-lr-24">
      <velocity-image-title
        [img]="'/password.png' | imageCdn"
        [title]="'AUTH.UNIVERSAL_PASSWORD.TITLE' | translate"
        [description]="'AUTH.UNIVERSAL_PASSWORD.DESCRIPTION' | translate"
      ></velocity-image-title>
    </div>
    <div class="form-group">
      <ion-label class="text-body-2 universal-forgot">{{'AUTH.UNIVERSAL_PASSWORD.PASSWORD' | translate}}
        <span (click)="forgotPassword()" id="Login_href_olvidoPass">{{'AUTH.UNIVERSAL_PASSWORD.FORGOT' | translate}}</span>
      </ion-label>

      <div class="vel-otp-input-cont">
        <app-cont-error [control]="universalPassword">
          <ng-otp-input
            [config]="configOtpInput"
            [typeInput]="otpInputType"
            [icon]="otpInputIcon"
            (clickIcon)="toggleType()"
            [customControl]="universalPassword"
          ></ng-otp-input>
        </app-cont-error>
      </div>

    </div>
    <div class="margin-t-28 password-buttons-container">
      <div class="password-button-cont">
        <velocity-button
          [text]="'AUTH.BUTTON' | translate"
          class="btn-primary"
          type="submit"
          [isLoading]="isLoading$ | async"
          [disabled]="formEnrollment.invalid || (isLoading$ | async)"
          id="Login_btn_ingresar"
        ></velocity-button>
      </div>
      <button type="button" *ngIf="showBiometric" class="fingerprint-button" id="Login_btn_huella" (click)="openBiometric()">
        <i class="icon-vel-touch-id"></i>
      </button>
    </div>
  </div>
</form>

