<div>
  <app-custom-header
    class="custom-header"
    [size]="'big'">
    <div left></div>
    <div center>
      <img class="header-image" src="/assets/images/bp-horizontal.png" alt="">
    </div>
    <div right></div>
  </app-custom-header>
  <div class="modal-otp-ios header-complement p-lr-global complement-size-ls padding-b-16">
    <div class="space-modal-ios">
      <div class="white-container">
        <div class="margin-b-24">
          <velocity-image-title
            [title]="'EXPERIENCE.FILL_OTP_DATA.TOAST_FLOAT.TITLE' | translate"
            [description]="'EXPERIENCE.FILL_OTP_DATA.TOAST_FLOAT.DESCRIPTION' | translate"></velocity-image-title>
        </div>
        <div class="cont-example-ios">
          <img [src]="'/otp_ios.jpg' | imageCdn" alt="">
          <span></span>
        </div>
        <div class="margin-b-24">
          <velocity-toast
            [type]="'toast-normal'"
            [title]="'EXPERIENCE.FILL_OTP_DATA.TOAST_NORMAL.TITLE_IOS' | translate"
            [description]="'EXPERIENCE.FILL_OTP_DATA.TOAST_NORMAL.DESCRIPTION_IOS' | translate"
            [icon]="'icon-vel-notification-bell'">
          </velocity-toast>
        </div>
        <velocity-button
          [text]="'EXPERIENCE.FILL_OTP_DATA.TOAST_FLOAT.BTN' | translate"
          class="btn-primary"
          type="button"
          id="modal-ios-otp"
          (actionButton)="modalService.close()">
        </velocity-button>
      </div>
    </div>
  </div>
